// general body
body {
  height: 100%!important;
  background-image: url(https://res.cloudinary.com/dkrtmft3y/image/upload/v1588926883/redox_01__2X_exjamm.png);
}

body, a, h1, h2, h3, {
  font-family: 'Lato', sans-serif;
  }

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

// category tiles

.categorie-tiles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.categorie-tiles a{
  text-decoration: none;
  color: white;
}

.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
}

// banner

.banner-home {
  background-image: url("https://images.unsplash.com/photo-1550078882-40713cd1a12f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  color: black;
  padding: 20px 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

// specs

.business-spec{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business-spec img{
  width: 60px;
  height: 100%;
}

// presentation

.artisan-presentation{
  background-image: url(https://res.cloudinary.com/dkrtmft3y/image/upload/v1588926883/redox_01__2X_exjamm.png);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
  height: 200px;
  width: auto;
  }
}

// carousel
.carousel-inner {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.carousel-item {
  height: 600px;
  width: 100%;
}

//cards

.categorie-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  a{
    text-decoration: none;
  }
}

//card

.card {
  background-size: cover;
  width: auto;
  height: 400px;
  cursor: pointer;

  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }

.overlay {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  background: rgba(77, 77, 77, .9);
  color: #f77925;
  opacity: 0;
  transition: all 0.5s;

}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  text-align: left;
  font-size: 30px;
  line-height: 80px;

  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;

    border: none;
    border-bottom: solid 2px #f77925;

    position: absolute;
    bottom: 0; left:20px;

    transition: all .5s;
  }
}

.card:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }

  & hr {
    width: 200px;
    transition-delay: 0.4s;
  }
}

