// general body
body {
  height: 100%!important;
  background-image: url(https://res.cloudinary.com/vg-ferronnerie/image/upload/v1589880032/redox_01__2X_zi08zp.png);
}

body, a, h1, h2, h3, {
  font-family: 'Lato', sans-serif;
  }

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

// category tiles

.categorie-tiles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.categorie-tiles a{
  text-decoration: none;
  color: white;
}

.tile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
}

// banner

.banner-home {
  margin-top: 115px;
  background-image: url("https://res.cloudinary.com/vg-ferronnerie/image/upload/v1593349044/banniere-home_fvzx5m.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  color: black;
  padding: 25px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

// specs

.business-spec{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business-spec img{
  width: 80px;
  height: auto;
}

// presentation

.artisan-presentation{
  background-image: url(https://res.cloudinary.com/vg-ferronnerie/image/upload/v1589880032/redox_01__2X_zi08zp.png);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
  height: 150px;
  width: auto;
  }
}

// carousel

.carousel-item {
  height: 580px;
  width: 100%;
}

//cards

@media screen and (min-width: 1720px) {
  .categorie-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    a{
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .categorie-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    a{
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .carousel-item {
    height: 400px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .categorie-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    a{
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .categorie-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    a{
      text-decoration: none;
    }
  }

  .banner-home {
    margin-top: 110px;
  }

  .carousel-item {
    height: 500px;
    width: 100%;
  }

  .banner-content {
    h1 {
      font-size: 24px !important;
    }
    font-size: 14px;
    color: black;
    padding: 25px 30px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}


//card

.card {
  background-size: cover;
  width: auto;
  height: 400px;
  cursor: pointer;

  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }

.overlay {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  background: rgba(77, 77, 77, .9);
  color: #f77925;
  opacity: 0;
  transition: all 0.5s;

}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  text-align: left;
  font-size: 30px;
  line-height: 80px;

  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;

    border: none;
    border-bottom: solid 2px #f77925;

    position: absolute;
    bottom: 0; left:20px;

    transition: all .5s;
  }
}

.card:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }

  & hr {
    width: 200px;
    transition-delay: 0.4s;
  }
}

