<div class="footer mt-5">
  <div class="footer-specs">
    <p>VG Ferronnerie et création</p>
    <p>N°SIREN : 853279271</p>
    <p>N°SIRET : 853 279 27100011</p>
  </div>
  <div class="footer-contact">
    <p>Valentin Guiol</p>
    <p>06.18.50.34.93</p>
    <a href="https://instagram.com/valentin_guiol?igshid=1x9p3be7bcy8b" target="_blanck"><i class="fab fa-instagram"></i></a>
  </div>
</div>
