.banner-categorie {
  margin-top: 98px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.categorie-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  img {
  height: 120px;
  width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .realisation-card{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }

  .realisation-description{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
      font-size: 18px;
      font-style: italic;
      color: #f77925;
      line-height: 1.5em;
    }
  }
}

.realisation-image{
  box-shadow: none;
  img{
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .realisation-card{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }

  .realisation-description{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
      font-size: 18px;
      font-style: italic;
      color: #f77925;
      line-height: 1.5em;
    }
  }

  .realisation-image{
    box-shadow: none;
    img{
      width: 500px;
      height: auto;
      margin: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .realisation-image{
    box-shadow: none;
    img{
      width: 350px;
      height: auto;
      margin: 20px;
    }
  }
}




// .banner-categorie-content {
//   padding: 20px 25px;
//   color: black;
//   background-color: rgba(255, 255, 255, 0.8);
// }

