.form {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #575555;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  #contact_description, #contact_objet, #contact_telephone, #contact_nom, #contact_prenom, #contact_email {
    border: solid 1px #f77925;
  }
  h1{
    color: #f77925;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .15rem;
  }
}

.contact-photo {
  margin-top: 110px;
  height: auto;
  width: auto;
}
