.real-specs {
  margin-top: 98px;
  display:flex;
  justify-content: center;
  align-items: center;
  .specs{
    flex: 1;
    h2 {
      color: #f77925;
    }
    p{
      font-size: 1.2em;
    }
  }
  img {
    height: 200px;
    width: auto;
  }
}
